body{
    margin: 0;
    padding: 0;
    /* font-family: Graphik; */
}

html{
    height: 100%;
}

@font-face{
    font-family: "Graphik";
    src: url("font/GraphikMedium.ttf");
}

.geek-nav{
    height: 70px;
    width: 100%;
    /* border: 2px solid black; */
    margin: 0 0 10px 0;
}

.geek-navinner{
    height: 50px;
    width: 90%;
    /* border: 2px solid red; */
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.geek-logo{
    padding-top: 25px;
}

.geek-navmid{
    padding-top: 17px;
}

.geek-navlink{
    /* border: 2px solid red; */
    margin: 20px;
}

.geek-navmid > ul > a{
    text-decoration: none;
    padding: 0 25px 25px 0;
}

.geek-navlink > a{
    text-decoration: none;
    padding: 0 10px 10px;
}

.geek-body{
    background: url(img/image-2.png);
    background-size: cover;
    width: 100%;
    height: 720px;
}

.geek-word1{
    width: 500px;
    padding-top: 100px;
    margin-left: 17%;
}

.geek-word1 > h1{
    font-style: normal;
    font-weight: 500;
    font-size: 86px;
    line-height: 110%;
    /* or 95px */
    letter-spacing: -0.02em;
    color: white;
    font-family: Graphik;
    margin-bottom: 0;
}

.geek-word1 > p{
    color: white;
    font-size: 16px;
}

.geek-btn{
    width: 500px;
    margin-left: 17%;
    /* border: 2px solid white; */
}

.btn1{
    width: 204px;
    height: 50px;
    background:  #0B0765;
    color: white;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 14px;
}

.btn2{
    width: 141px;
    height: 50px;
    border: 2px solid #FFFFFf;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
    margin-left: 10px;
}

.btn3{
    width: 141px;
    height: 50px;
    background: none;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-left: 10px;
    outline: none;
    border: none;
    padding-top: 80px;
}

.geek-footer{
    width: 90%;
    height: 130px;
    /* border: 2px solid black; */
    margin: 0 auto;
    display: flex;
    position: relative;
}

.geek-word2{
    width: 20%;
    /* border: 2px solid red; */
}

.geek-word2 > p{
    /* border: 2px solid red; */
    padding-right: 20px;
    margin: 50px 0 auto;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: -0.01em;

    color: #475B88;
}

.geek-imgs{
    width: 80%;
    /* border: 2px solid yellow; */
    margin: 50px auto;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: flex-start;
}

.geek-imgs > img{
    padding-top: 10px;
}

.geek-sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, #0B0765 0%, #09099D 100%), #0B0765;
    overflow-x: hidden;
    padding-top: 90px;
    transition: 0.5s;
}

.geek-sidenav  a{
    padding: 10px 10px 10px 30px;
    text-decoration: none;
    font-size: 14px;
    color: white;
    display: block;
    transition: 0.3s;

}

.geek-sidenav .geek-btnclose{
    position: absolute;
    top: 20px;
    left: 220px;
    font-size: 36px;
}

.geek-openslide{
    display: none;
}

.geek-down{
    padding-top: 90%;
    /* border: 2px solid white; */
}

.geek-down > a{
    display: inline;
    padding: 0 0 0 30px;
}

.geek-down > p{
    padding: 0 0 0 30px;
    color: white;
}




@media only screen and (max-width:1000px){
    .geek-navmid, .geek-navlink  > a{
        display: none;
    }

    .geek-openslide{
        display: flex;
        margin-left: 30px;
    }

}

@media only screen and (max-width:600px){
    .geek-body{
        background-image: url(img/image-3.png);
        width: 100%;
        height: 500px;

    }

    #b, #c, #d, #e, #f{
        display: none;
    }

    .geek-word1{
        width: 70%;
        padding-top: 10px;
        margin-left: 5%;
    }
    
    .geek-word1 > h1{
        width: 100%;
        font-style: normal;
        font-weight: 500;
        font-size: 60px;
        line-height: 90%;
        /* or 66px */
        
        /* letter-spacing: -0.02em; */
        /* border: 2px solid red; */
    }

    .geek-word1 > p{
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 140%;
        /* or 20px */
        margin-right: 20%;
        color: #FFFFFF;
        /* border: 2px solid white; */
    }

    .geek-btn{
        width: 80%;
        margin-left: 5%;
        margin-top: 20px;
        /* border: 2px solid white; */
    }

    .btn1{
        width: 163px;
        height: 40px;
        background:  #0B0765;
        color: white;
        cursor: pointer;
        outline: none;
        border: none;
        font-size: 14px;
    }
    
    .btn2{
        width: 112px;
        height: 40px;
        border: 2px solid #FFFFFf;
        background: none;
        color: white;
        cursor: pointer;
        font-size: 14px;
        margin-left: 10px;
    }

    .geek-word2{
        width: 80%;
        /* border: 2px solid red; */
        margin: 0 auto;
    }
    .geek-word2 > p{
        /* border: 2px solid red; */
        padding-right: 20px;
        padding-left: 35px;
        margin: 30px auto;
        font-weight: 800;
        font-size: 14px;
        line-height: 24px;
        /* or 171% */
    
        letter-spacing: -0.01em;
    
        color: #475B88;
    }

    .geek-imgs{
        width: 30%;
        /* border: 2px solid yellow; */
        margin: 30px auto;
    }

    .geek-footer{
        width: 100%;
        height: 125px;
        /* border: 2px solid black; */
        margin: 0 auto;
        display: flex;
    }

    .geek-navmid, .geek-navlink  > a{
        display: none;
    }

    .btn3{
        display: none;
    }

    .geek-openslide{
        display: flex;
        margin-left: 30px;
    }

    


}
